{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Metres-Feet Conversion {% endblock %}</h1>
    <form method="post">
        <label for="metres">Metres: </label>
        <input type="text" name="metres"
               placeholder="Metres"
               value="{{ metres_output }}"></input>
        <br>

        <label for="feet">Feet: </label>
        <input type="text" name="feet"
               placeholder="Feet"
               value="{{ feet_output }}"></input>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}